**/node_modules
.env
.config.js
**/logs
**/level_card.png
test.js
slashCommands.json
**/src/bot/media/cards/*
**/src/bot/tcg/*_data.json
*.txt
f95bot.sql
batch_*.json
CardSystem.md
.cursor/
**/src/card_web/Aniworld*
.claude
