 <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/vendors/popper/popper.min.js"></script>
    <script src="/public/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/public/vendors/fontawesome/all.min.js"></script>
    <script src="/public/vendors/feather-icons/feather.min.js"></script>
    <script src="/public/assets/js/panel.js"></script>
